<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mendeley Python Example</title>
</head>
<body>
<h1>{{name}} documents</h1>

<table>
    {% for doc in docs %}
    <tr>
        <td><a href="/document?access_token={{access_token}}&document_id={{doc['id']}}">{{doc.title}}</a></td>
        <td><a href="/annotations?access_token={{access_token}}&document_id={{doc['id']}}">Annotations</a></td>
    </tr>
    {% endfor %}
</table>

<hr>

<form action="/metadataLookup" method="GET">
    DOI lookup:
    <input type="text" name="doi">
    <input type="hidden" name="access_token" value="{{access_token}}">
    <input type="submit">
</form>

</body>
</html>